.file-icon {
    font-size: 50px;
}

.file-window {
    width: fit-content;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 10;
    color: #000;
}

.file-window-header {
    display: flex;
    justify-content: flex-end;
    background-color: #ddd;
    padding: 5px;
    margin: -20px -20px 10px -20px;
}

.file-window-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}




.file-window-content {
    height: fit-content;
    width: 75vw;
    height: fit-content;
    width: 25vw;
    margin: 25px 25px 25px 25px;

}

#socials .btn {
    font-size: 35px;
}

.output div {
    margin-bottom: 10px; /* Increased spacing between commands */
}

.input {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.input input {
    background-color: #000;
    color: #0f0; /* Green text for command input */
    border: none;
    width: calc(100% - 20px);
    padding: 5px;
    outline: none;
    font-weight: bold; /* Bold input text */
}

.terminal-window {
    height: 400px;
}
