.file-icon {
    font-size: 50px;
}

.file-window {
    width: fit-content;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 10;
    color: #000;
}

.file-window-header {
    display: flex;
    justify-content: flex-end;
    background-color: #ddd;
    padding: 5px;
    margin: -20px -20px 10px -20px;
}

.file-window-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}



.file-window-content .row .col img {
    transform: scale(1.5);
    margin: 20px 20px 20px 20px;
}


.terminal-window .file-window-content {
    height: 35vh;
    width: 25vw
}


.terminal-window .file-window-content .input-group {
    position: relative;
    top: 50%;
}


.projects-window .file-window-content {
    height: fit-content;
    width: 75vw;
}

.projects-window .file-window-content .container .row .col-lg-3 {
    margin: 25px 25px 25px 25px;
}

#socials .btn {
    font-size: 35px;
}

