<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="draggable file-window about-window d-none">
        <div class="file-window-header">
            <button type="button" class="btn file-window-btn" id="close-btn">✕</button>
            <button type="button" class="btn file-window-btn" id="minimize-btn">━</button>
            <button type="button" class="btn file-window-btn" id="expand-btn">☐</button>
        </div>
        <div class="file-window-content text-center">
            <img src="https://media.licdn.com/dms/image/D5603AQExC0TMyA-NEQ/profile-displayphoto-shrink_200_200/0/1718694878013?e=1728518400&v=beta&t=HmtUTkP5DYnneOU2f5qBCPOUX6cUvPRxea7JJc3Jj3M"
                class="img-thumbnail rounded-circle mb-3" alt="Profile Image">
            <p class="h3">Abhinav KM</p>
            <p>Hi, I am a python developer who likes to work on unconventional problems</p>
            <div id="socials">
                <a href="https://github.com/blacksmithop" target="_blank" class="btn btn-lg fab fa-github mx-2"></a>
                <a href="https://stackoverflow.com/users/11323371/insertcheesyline" target="_blank"
                    class="btn btn-lg fab fa-stack-overflow mx-2"></a>
                <a href="https://linkedin.com/in/abhinav--km/" target="_blank"
                    class="btn btn-lg fab fa-linkedin mx-2"></a>
            </div>
        </div>
    </div>
</div>