<footer class="footer bg-dark">
    <div class="container dropup">
      <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-danger btn-warning btn-lg rounded-circle position-absolute top-95 start-50 translate-middle">
        <i class="fa-solid fa-location-arrow"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
  </footer>
  