{% extends 'base.html' %}

{% block content %}
  <!-- Desktop Icons -->
  <div class="container-fluid position-absolute">
    <button type="button" class="btn btn-lg file-icon draggable fa-regular fa-file-lines"></button>
    <button type="button" class="btn btn-lg file-icon draggable fa-solid fa-diagram-project"></button>
    <button type="button" class="btn btn-lg file-icon draggable fa-solid fa-images"></button>
    <button type="button" class="btn btn-lg file-icon draggable fa-solid fa-terminal"></button>
    <button type="button" class="btn btn-lg file-icon draggable fa-regular fa-trash-can"></button>
  </div>

  <!-- Include About Window -->
  {% include 'about_window.html' %}

  <!-- Include Projects Window -->
  {% include 'projects_window.html' %}

  <!-- Include Wallpaper Window -->
  {% include 'wallpaper_window.html' %}

  <!-- Include Terminal Window -->
  {% include 'terminal_window.html' %}
{% endblock %}
