<div class="draggable container-fluid file-window projects-window d-none">
    <div class="file-window-header">
        <button type="button" class="btn file-window-btn" id="close-btn">✕</button>
        <button type="button" class="btn file-window-btn" id="minimize-btn">━</button>
        <button type="button" class="btn file-window-btn" id="expand-btn">☐</button>
    </div>
    <div class="file-window-content">
        <div class="container-fluid">
            {% for repo_chunk in repos %}
            <div class="row">
                {% for repo in repo_chunk %}
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{repo.name}}</h5>
                            <div class="card-text">
                                <figure>
                                    <blockquote class="blockquote">
                                        <p>{{repo.description}}</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        {{repo.created_at}}
                                    </figcaption>
                                </figure>
                            </div>
                            <i class="btn fa-regular fa-star"> {{repo.stargazers_count}}</i>
                            <i class="btn fa-regular fa-eye"> {{repo.watchers_count}}</i>
                        </div>
                    </div>
                </div>
                {% endfor %}
                 <!-- Add more project cards here -->
            </div>
            {% endfor %}
        </div>
    </div>
</div>
