<div class="draggable container-fluid file-window projects-window">
    <div class="file-window-header">
        <button type="button" class="btn file-window-btn" id="close-btn">✕</button>
        <button type="button" class="btn file-window-btn" id="minimize-btn">━</button>
        <button type="button" class="btn file-window-btn" id="expand-btn">☐</button>
    </div>
    <div class="file-window-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Name</h5>
                            <div class="card-text">
                                <figure>
                                    <blockquote class="blockquote">
                                        <p>Description.</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        Created In
                                    </figcaption>
                                </figure>
                            </div>
                            <i class="btn fa-regular fa-star"></i>
                            <i class="btn fa-regular fa-eye"></i>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Name</h5>
                            <div class="card-text">
                                <figure>
                                    <blockquote class="blockquote">
                                        <p>Description.</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        Created In
                                    </figcaption>
                                </figure>
                            </div>
                            <i class="btn fa-regular fa-star"></i>
                            <i class="btn fa-regular fa-eye"></i>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Name</h5>
                            <div class="card-text">
                                <figure>
                                    <blockquote class="blockquote">
                                        <p>Description.</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        Created In
                                    </figcaption>
                                </figure>
                            </div>
                            <i class="btn fa-regular fa-star"></i>
                            <i class="btn fa-regular fa-eye"></i>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Name</h5>
                            <div class="card-text">
                                <figure>
                                    <blockquote class="blockquote">
                                        <p>Description.</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        Created In
                                    </figcaption>
                                </figure>
                            </div>
                            <i class="btn fa-regular fa-star"></i>
                            <i class="btn fa-regular fa-eye"></i>
                        </div>
                    </div>
                </div>
                <!-- Add more project cards here -->
            </div>
        </div>
    </div>
</div>
