<div class="draggable container-fluid file-window terminal-window d-none">
    <div class="file-window-header">
        <button type="button" class="btn file-window-btn" id="close-btn">✕</button>
        <button type="button" class="btn file-window-btn" id="minimize-btn">━</button>
        <button type="button" class="btn file-window-btn" id="expand-btn">☐</button>
    </div>
    <div class="file-window-content">
        <div class="container-fluid overflow-auto">
            <p class="fs-5 rounded-pill border border-success p-2 mb-2">Welcome to the Terminal</p>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Enter command..." placeholder="Enter command...">
            <button class="btn btn-outline-dark fa-solid fa-play"></button>
        </div>
    </div>
</div>
