<div class="draggable container-fluid file-window wallpaper-window d-none">
    <div class="file-window-header">
        <button type="button" class="btn file-window-btn" id="close-btn">✕</button>
        <button type="button" class="btn file-window-btn" id="minimize-btn">━</button>
        <button type="button" class="btn file-window-btn" id="expand-btn">☐</button>
    </div>
    <div class="file-window-content">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-3">
                    <img src="./static/images/photo-1501082183835-b7b33db89c3f.jpg" class="img-thumbnail" alt="Wallpaper 1">
                </div>
                <div class="col-lg-3">
                    <img src="./static/images/premium_photo-1685148902854-9b9bb49fff08.jpg" class="img-thumbnail" alt="Wallpaper 2">
                </div>
                <div class="col-lg-3">
                    <img src="./static/images/photo-1519681393784-d120267933ba.jpg" class="img-thumbnail" alt="Wallpaper 3">
                </div>
            </div>
        </div>
        <div class="container text-center mt-3">
            <div class="row">
                <div class="col-lg-3">
                    <img src="./static/images/photo-1502726299822-6f583f972e02.jpg" class="img-thumbnail" alt="Wallpaper 4">
                </div>
                <div class="col-lg-3">
                    <img src="./static/images/photo-1502726299822-6f583f972e02.jpg" class="img-thumbnail" alt="Wallpaper 5">
                </div>
                <div class="col-lg-3">
                    <img src="./static/images/photo-1529728936071-bf09caff2f99.jpg" class="img-thumbnail" alt="Wallpaper 6">
                </div>
            </div>
        </div>
    </div>
</div>
